* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 140%;
    margin-top: 0;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.2em;
    margin-left: 0.1em;
}

input {
    padding: 0.35em;
    box-sizing: border-box;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .07) inset;
    outline: 0;
}

button {
    padding: 0.35em;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to bottom, #e7eaf0, #d9dce1);
}

#login {
    width: 20em;
    padding: 1.5em 2em 2em 2em;
    margin: 5em auto 0 auto;
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
}

#login input {
    width: 100%;
    margin-bottom: 1em;
}

#login button {
    width: 100%;
    margin-top: 0.5em;
}