* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 140%;
    margin-top: 0;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.2em;
    margin-left: 0.1em;
}

input.form {
    padding: 0.35em;
    box-sizing: border-box;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .07) inset;
    outline: 0;
}

button {
    cursor: pointer;
}

button.button {
    padding: 0.35em;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
}

button.button:hover {
    background: linear-gradient(to bottom, #e7eaf0, #d9dce1);
}

button.primary {
    padding: 0.35em;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

button.primary:hover {
    background: linear-gradient(to bottom, #f5d78e, #eeb933);
}

th {
    text-align: left;
}

#login {
    width: 20em;
    padding: 1.5em 2em 2em 2em;
    margin: 5em auto 0 auto;
    display: none;
    border-radius: 4px;
    border: 1px #ddd solid;
}

#login input {
    width: 100%;
    margin-bottom: 1em;
}

#login button {
    width: 100%;
    margin-top: 0.5em;
}

#menu {
    background-color: rgb(35, 47, 62);
    padding: 1em;
    margin-bottom: 4em;
}

#menu ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 30em;
    max-width: 50em;
    margin: 0 auto;
    padding: 0;
}

#menu li {
    display: inline;
    color: #ccc;
    cursor: pointer;
    vertical-align: center;
    margin: 0 1em;
}

#menu li:hover {
    color: #fff;
}

#menu .logo img {
    width: 10em;
    margin-top: 0.62em;
}

#menu .search {
    flex: 1 15em;
    display: flex;
    align-items: stretch;
}

#menu .search input {
    flex: 1 3em;
    border: none;
    height: 2em;
    padding: 0.2em 0.8em 0.2em 0.8em;
    border-radius: 0.3em 0 0 0.3em;
}

#menu .search button {
    flex: 0 2.7em;
    border: none;
    background-color: #febd69;
    border-radius: 0 0.3em 0.3em 0;
}

#menu .search button:hover {
    background-color: #f3a847;
}

#torrents table {
    margin: 0 auto;
    border-spacing: 0;
    border: 1px #ddd solid;
    border-radius: 4px;
}

#torrents th {
    border-bottom: 1px #ddd solid;
    padding: 0.6em 0.8em;
    background-color: #f6f6f6;
}

#torrents td {
    border-bottom: 1px #eee solid;
    padding: 0.6em 0.8em;
}

#torrents tr:last-child td {
    border: 0;
}

#torrents span {
    color: #005bb5;
    cursor: pointer;
}

#torrents span:hover {
    color: #183d61;
}

#torrents td:nth-child(3), #torrents td:nth-child(4), #torrents td:nth-child(5), #torrents td:nth-child(6) {
    text-align: right;
}

#torrents td:nth-child(5) {
    font-weight: bold;
    color: #33691e;
}

#torrents td:nth-child(6) {
    font-weight: bold;
    color: #d00210;
}